<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			<%= post.user.name %>
		</h3>
		<%= post.created_at %>
	</div>
	<div class="panel-body">
		<%= post.content %>
	</div>

</div>